workflows/tools/calendar/google-calendar-delete-event-tool.json
{
  "name": "Google Calendar Delete Event Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "type": "string",
              "value": "={{ $json.tenant_id || '' }}"
            },
            {
              "id": "calendar_id",
              "name": "calendar_id",
              "type": "string",
              "value": "={{ $json.calendar_id || $json.google_calendar_id || $json.id_agenda }}"
            },
            {
              "id": "event_id",
              "name": "event_id",
              "type": "string",
              "value": "={{ $json.event_id || $json.id_evento }}"
            },
            {
              "id": "send_alert",
              "name": "send_alert",
              "type": "boolean",
              "value": "={{ $json.send_alert !== false }}"
            },
            {
              "id": "telegram_chat_id",
              "name": "telegram_chat_id",
              "type": "string",
              "value": "={{ $json.telegram_chat_id || '' }}"
            },
            {
              "id": "patient_name",
              "name": "patient_name",
              "type": "string",
              "value": "={{ $json.patient_name || $json.nome_paciente || 'Paciente' }}"
            },
            {
              "id": "patient_phone",
              "name": "patient_phone",
              "type": "string",
              "value": "={{ $json.patient_phone || $json.phone_number || $json.telefone || '' }}"
            },
            {
              "id": "reason",
              "name": "reason",
              "type": "string",
              "value": "={{ $json.reason || $json.motivo || 'Cancelamento solicitado pelo paciente' }}"
            }
          ]
        }
      },
      "id": "extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "position": [460, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Build delete event request for Google Calendar Client\n// API: DELETE calendar/v3/calendars/{calendarId}/events/{eventId}\nconst p = $input.first().json;\nconst encodedCalId = encodeURIComponent(p.calendar_id);\nconst encodedEventId = encodeURIComponent(p.event_id);\nconst endpoint = `calendar/v3/calendars/${encodedCalId}/events/${encodedEventId}`;\n\nreturn {\n  tenant_id: p.tenant_id,\n  method: 'DELETE',\n  google_api_endpoint: endpoint,\n  body: {},\n  _calendar_id: p.calendar_id,\n  _event_id: p.event_id,\n  send_alert: p.send_alert,\n  telegram_chat_id: p.telegram_chat_id,\n  patient_name: p.patient_name,\n  patient_phone: p.patient_phone,\n  reason: p.reason,\n  event_id: p.event_id\n};"
      },
      "id": "build-delete-request",
      "name": "Build Delete Request",
      "type": "n8n-nodes-base.code",
      "position": [680, 300],
      "typeVersion": 2,
      "notes": "Constructs DELETE request for calendar/v3/calendars/{id}/events/{eventId}"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "{{GOOGLE_CALENDAR_CLIENT_WORKFLOW_ID}}",
          "mode": "id",
          "cachedResultName": "Google Calendar Client"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "method": "={{ $json.method }}",
            "google_api_endpoint": "={{ $json.google_api_endpoint }}",
            "body": "={{ $json.body }}"
          }
        },
        "options": {}
      },
      "id": "call-google-calendar-client",
      "name": "Call Google Calendar Client",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [900, 300],
      "typeVersion": 1.2,
      "notes": "Uses HTTP + OAuth from DB instead of native Google Calendar node"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "no-error",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "success"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check-client-response",
      "name": "Check Delete Response",
      "type": "n8n-nodes-base.switch",
      "position": [1120, 300],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": false
            },
            {
              "id": "error",
              "name": "error",
              "type": "string",
              "value": "={{ $json.error || 'Google Calendar API call failed' }}"
            },
            {
              "id": "deleted",
              "name": "deleted",
              "type": "boolean",
              "value": false
            }
          ]
        }
      },
      "id": "error-response",
      "name": "Return Client Error",
      "type": "n8n-nodes-base.set",
      "position": [1340, 420],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Restore Extract Parameters so Should Send Alert? and Format nodes have send_alert, telegram_chat_id, etc.\nconst params = $('Extract Parameters').first().json;\nreturn params;"
      },
      "id": "restore-params",
      "name": "Restore Params for Branch",
      "type": "n8n-nodes-base.code",
      "position": [1340, 240],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-alert",
              "leftValue": "={{ $json.send_alert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "check-chat-id",
              "leftValue": "={{ $json.telegram_chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "id": "should-alert",
      "name": "Should Send Alert?",
      "type": "n8n-nodes-base.if",
      "position": [900, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "{{ 'Telegram Client' }}",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Extract Parameters').item.json.tenant_id }}",
            "chat_id": "={{ $('Extract Parameters').item.json.telegram_chat_id }}",
            "text": "=🚫 *AGENDAMENTO CANCELADO*\n\n*Paciente:* {{ $('Extract Parameters').item.json.patient_name }}\n*Telefone:* {{ $('Extract Parameters').item.json.patient_phone }}\n*Motivo:* {{ $('Extract Parameters').item.json.reason }}\n\n*Horário:* {{ $now }}\n*Event ID:* {{ $('Extract Parameters').item.json.event_id }}",
            "parse_mode": "Markdown"
          }
        },
        "options": {}
      },
      "id": "send-alert",
      "name": "Send Alert to Staff",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [1120, 200],
      "typeVersion": 1.2,
      "notes": "📱 Envia alerta via Telegram usando token do tenant no banco"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "deleted",
              "name": "deleted",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "event_id",
              "name": "event_id",
              "type": "string",
              "value": "={{ $('Extract Parameters').item.json.event_id }}"
            },
            {
              "id": "calendar_id",
              "name": "calendar_id",
              "type": "string",
              "value": "={{ $('Extract Parameters').item.json.calendar_id }}"
            },
            {
              "id": "alert_sent",
              "name": "alert_sent",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "=Agendamento cancelado com sucesso. Alerta enviado para a equipe."
            }
          ]
        }
      },
      "id": "format-response-with-alert",
      "name": "Format Response (With Alert)",
      "type": "n8n-nodes-base.set",
      "position": [1340, 200],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "deleted",
              "name": "deleted",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "event_id",
              "name": "event_id",
              "type": "string",
              "value": "={{ $('Extract Parameters').item.json.event_id }}"
            },
            {
              "id": "calendar_id",
              "name": "calendar_id",
              "type": "string",
              "value": "={{ $('Extract Parameters').item.json.calendar_id }}"
            },
            {
              "id": "alert_sent",
              "name": "alert_sent",
              "type": "boolean",
              "value": "=false"
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "=Agendamento cancelado com sucesso."
            }
          ]
        }
      },
      "id": "format-response-no-alert",
      "name": "Format Response (No Alert)",
      "type": "n8n-nodes-base.set",
      "position": [1120, 400],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Build Delete Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Delete Request": {
      "main": [
        [
          {
            "node": "Call Google Calendar Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Google Calendar Client": {
      "main": [
        [
          {
            "node": "Check Delete Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delete Response": {
      "main": [
        [
          {
            "node": "Restore Params for Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Client Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Params for Branch": {
      "main": [
        [
          {
            "node": "Should Send Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Alert?": {
      "main": [
        [
          {
            "node": "Send Alert to Staff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response (No Alert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert to Staff": {
      "main": [
        [
          {
            "node": "Format Response (With Alert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "google-calendar-delete-event-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "tool",
      "id": "1"
    },
    {
      "name": "calendar",
      "id": "4"
    },
    {
      "name": "google-api",
      "id": "6"
    }
  ]
}
