workflows/tools/calendar/google-calendar-update-event-tool.json
{
  "name": "Google Calendar Update Event Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "type": "string",
              "value": "={{ $json.tenant_id || $json.body?.tenant_id }}"
            },
            {
              "id": "calendar_id",
              "name": "calendar_id",
              "type": "string",
              "value": "={{ $json.calendar_id || $json.google_calendar_id || $json.id_agenda }}"
            },
            {
              "id": "event_id",
              "name": "event_id",
              "type": "string",
              "value": "={{ $json.event_id || $json.id_evento }}"
            },
            {
              "id": "summary",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.summary || $json.title || $json.titulo || '' }}"
            },
            {
              "id": "start",
              "name": "start",
              "type": "string",
              "value": "={{ $json.start || $json.start_time || '' }}"
            },
            {
              "id": "end",
              "name": "end",
              "type": "string",
              "value": "={{ $json.end || $json.end_time || '' }}"
            },
            {
              "id": "description",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description || $json.descricao || '' }}"
            }
          ]
        }
      },
      "id": "extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "position": [460, 300],
      "typeVersion": 3.4,
      "notes": "Extracts tenant_id (required for OAuth), calendar_id, event_id, summary, start, end, description"
    },
    {
      "parameters": {
        "jsCode": "// Build update event request for Google Calendar Client\n// API: PUT calendar/v3/calendars/{calendarId}/events/{eventId}\nconst p = $input.first().json;\nconst encodedCalId = encodeURIComponent(p.calendar_id);\nconst encodedEventId = encodeURIComponent(p.event_id);\nconst endpoint = `calendar/v3/calendars/${encodedCalId}/events/${encodedEventId}`;\n\nconst body = {};\nif (p.summary) body.summary = p.summary;\nif (p.start) body.start = { dateTime: p.start };\nif (p.end) body.end = { dateTime: p.end };\nif (p.description !== undefined) body.description = p.description;\n\nreturn {\n  tenant_id: p.tenant_id,\n  method: 'PUT',\n  google_api_endpoint: endpoint,\n  body,\n  _calendar_id: p.calendar_id,\n  _event_id: p.event_id\n};"
      },
      "id": "build-update-request",
      "name": "Build Update Request",
      "type": "n8n-nodes-base.code",
      "position": [680, 300],
      "typeVersion": 2,
      "notes": "Constructs PUT request for calendar/v3/calendars/{id}/events/{eventId}"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "{{ 'Google Calendar Client' }}",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "method": "={{ $json.method }}",
            "google_api_endpoint": "={{ $json.google_api_endpoint }}",
            "body": "={{ $json.body }}"
          }
        },
        "options": {}
      },
      "id": "call-google-calendar-client",
      "name": "Call Google Calendar Client",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [900, 300],
      "typeVersion": 1.2,
      "notes": "Uses HTTP + OAuth from DB instead of native Google Calendar node"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "no-error",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "success"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check-client-response",
      "name": "Check Client Response",
      "type": "n8n-nodes-base.switch",
      "position": [1120, 300],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": false
            },
            {
              "id": "error",
              "name": "error",
              "type": "string",
              "value": "={{ $json.error || 'Google Calendar API call failed' }}"
            }
          ]
        }
      },
      "id": "error-response",
      "name": "Return Client Error",
      "type": "n8n-nodes-base.set",
      "position": [1340, 420],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Format update event response from Google Calendar API\n// API returns: { id, htmlLink, summary, start, end, ... }\nconst apiResponse = $input.first().json;\nconst params = $('Build Update Request').first().json;\nconst calendarId = params._calendar_id;\nconst eventId = params._event_id;\n\nif (apiResponse.success === false || apiResponse.error) {\n  return {\n    success: false,\n    error: apiResponse.error || 'API call failed',\n    calendar_id: calendarId,\n    event_id: eventId,\n    event_link: null,\n    message: apiResponse.error || 'Falha ao atualizar agendamento'\n  };\n}\n\nreturn {\n  success: true,\n  event_id: apiResponse.id,\n  event_link: apiResponse.htmlLink,\n  calendar_id: calendarId,\n  updated_start: apiResponse.start?.dateTime || apiResponse.start?.date,\n  updated_end: apiResponse.end?.dateTime || apiResponse.end?.date,\n  message: 'Agendamento atualizado com sucesso'\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [1340, 240],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Build Update Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Request": {
      "main": [
        [
          {
            "node": "Call Google Calendar Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Google Calendar Client": {
      "main": [
        [
          {
            "node": "Check Client Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Client Response": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Client Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "google-calendar-update-event-v2-dynamic-oauth",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "tool",
      "id": "1"
    },
    {
      "name": "calendar",
      "id": "4"
    },
    {
      "name": "google-api",
      "id": "6"
    }
  ]
}
