workflows/tools/calendar/google-calendar-update-event-tool.json
{
  "name": "Google Calendar Update Event Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "calendar_id",
              "name": "calendar_id",
              "type": "string",
              "value": "={{ $json.calendar_id || $json.google_calendar_id || $json.id_agenda }}"
            },
            {
              "id": "event_id",
              "name": "event_id",
              "type": "string",
              "value": "={{ $json.event_id || $json.id_evento }}"
            },
            {
              "id": "summary",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.summary || $json.title || $json.titulo || '' }}"
            },
            {
              "id": "start",
              "name": "start",
              "type": "string",
              "value": "={{ $json.start || $json.start_time || '' }}"
            },
            {
              "id": "end",
              "name": "end",
              "type": "string",
              "value": "={{ $json.end || $json.end_time || '' }}"
            },
            {
              "id": "description",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description || $json.descricao || '' }}"
            }
          ]
        }
      },
      "id": "extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "position": [460, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.calendar_id }}",
          "mode": "id"
        },
        "eventId": "={{ $json.event_id }}",
        "updateFields": {
          "summary": "={{ $json.summary || undefined }}",
          "start": "={{ $json.start || undefined }}",
          "end": "={{ $json.end || undefined }}",
          "description": "={{ $json.description || undefined }}"
        }
      },
      "id": "update-event",
      "name": "Update Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [680, 300],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "{{GOOGLE_CALENDAR_CREDENTIAL_ID}}",
          "name": "Google Calendar OAuth2"
        }
      },
      "notes": "📅 Atualiza evento usando Google Calendar API\n\n**Campos atualizáveis**:\n- summary (título)\n- start (data/hora início)\n- end (data/hora fim)\n- description (descrição)\n\n**Nota**: Campos vazios são ignorados (não sobrescrevem)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "event_id",
              "name": "event_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "event_link",
              "name": "event_link",
              "type": "string",
              "value": "={{ $json.htmlLink }}"
            },
            {
              "id": "calendar_id",
              "name": "calendar_id",
              "type": "string",
              "value": "={{ $('Extract Parameters').item.json.calendar_id }}"
            },
            {
              "id": "updated_start",
              "name": "updated_start",
              "type": "string",
              "value": "={{ $json.start?.dateTime || $json.start?.date }}"
            },
            {
              "id": "updated_end",
              "name": "updated_end",
              "type": "string",
              "value": "={{ $json.end?.dateTime || $json.end?.date }}"
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "=Agendamento atualizado com sucesso"
            }
          ]
        }
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "position": [900, 300],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Update Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "google-calendar-update-event-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "tool",
      "id": "1"
    },
    {
      "name": "calendar",
      "id": "4"
    },
    {
      "name": "google-api",
      "id": "6"
    }
  ]
}
