workflows/tools/calendar/google-calendar-create-event-tool.json
{
  "name": "Google Calendar Create Event Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "type": "string",
              "value": "={{ $json.tenant_id || $json.body?.tenant_id }}"
            },
            {
              "id": "calendar_id",
              "name": "calendar_id",
              "type": "string",
              "value": "={{ $json.calendar_id || $json.google_calendar_id }}"
            },
            {
              "id": "summary",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.summary || $json.title }}"
            },
            {
              "id": "start",
              "name": "start",
              "type": "string",
              "value": "={{ $json.start || $json.start_time }}"
            },
            {
              "id": "end",
              "name": "end",
              "type": "string",
              "value": "={{ $json.end || $json.end_time }}"
            },
            {
              "id": "description",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description || $json.notes || '' }}"
            }
          ]
        }
      },
      "id": "extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "position": [460, 300],
      "typeVersion": 3.4,
      "notes": "Extracts tenant_id (required for OAuth), calendar_id, summary, start, end, description"
    },
    {
      "parameters": {
        "jsCode": "// Build create event request for Google Calendar Client\n// API: POST calendar/v3/calendars/{calendarId}/events\nconst p = $input.first().json;\nconst encodedCalId = encodeURIComponent(p.calendar_id);\nconst endpoint = `calendar/v3/calendars/${encodedCalId}/events`;\n\n// Google API expects start/end as { dateTime: ISO8601 } for timed events\nconst body = {\n  summary: p.summary || 'Evento',\n  description: p.description || '',\n  start: { dateTime: p.start },\n  end: { dateTime: p.end }\n};\n\nreturn {\n  tenant_id: p.tenant_id,\n  method: 'POST',\n  google_api_endpoint: endpoint,\n  body,\n  _calendar_id: p.calendar_id\n};"
      },
      "id": "build-create-request",
      "name": "Build Create Request",
      "type": "n8n-nodes-base.code",
      "position": [680, 300],
      "typeVersion": 2,
      "notes": "Constructs POST request for calendar/v3/calendars/{id}/events"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "{{GOOGLE_CALENDAR_CLIENT_WORKFLOW_ID}}",
          "mode": "id",
          "cachedResultName": "Google Calendar Client"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "method": "={{ $json.method }}",
            "google_api_endpoint": "={{ $json.google_api_endpoint }}",
            "body": "={{ $json.body }}"
          }
        },
        "options": {}
      },
      "id": "call-google-calendar-client",
      "name": "Call Google Calendar Client",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [900, 300],
      "typeVersion": 1.2,
      "notes": "Uses HTTP + OAuth from DB instead of native Google Calendar node"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "no-error",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "success"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check-client-response",
      "name": "Check Client Response",
      "type": "n8n-nodes-base.switch",
      "position": [1120, 300],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": false
            },
            {
              "id": "error",
              "name": "error",
              "type": "string",
              "value": "={{ $json.error || 'Google Calendar API call failed' }}"
            }
          ]
        }
      },
      "id": "error-response",
      "name": "Return Client Error",
      "type": "n8n-nodes-base.set",
      "position": [1340, 420],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Format create event response from Google Calendar API\n// API returns: { id, htmlLink, summary, start, end, ... }\nconst apiResponse = $input.first().json;\nconst params = $('Build Create Request').first().json;\nconst calendarId = params._calendar_id;\n\n// Handle client error response\nif (apiResponse.success === false || apiResponse.error) {\n  return {\n    success: false,\n    error: apiResponse.error || 'API call failed',\n    calendar_id: calendarId,\n    event_id: null,\n    event_link: null\n  };\n}\n\nreturn {\n  success: true,\n  event_id: apiResponse.id,\n  event_link: apiResponse.htmlLink,\n  calendar_id: calendarId\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [1340, 240],
      "typeVersion": 2,
      "notes": "Formats create event response (id, htmlLink)"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Build Create Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Create Request": {
      "main": [
        [
          {
            "node": "Call Google Calendar Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Google Calendar Client": {
      "main": [
        [
          {
            "node": "Check Client Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Client Response": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Client Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "google-calendar-create-event-v2-dynamic-oauth",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "tool",
      "id": "1"
    },
    {
      "name": "calendar",
      "id": "4"
    },
    {
      "name": "google-api",
      "id": "6"
    }
  ]
}
