workflows/tools/calendar/google-calendar-availability-tool.json
{
  "name": "Google Calendar Availability Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "type": "string",
              "value": "={{ $json.tenant_id || $json.body?.tenant_id }}"
            },
            {
              "id": "calendar_id",
              "name": "calendar_id",
              "type": "string",
              "value": "={{ $json.calendar_id || $json.google_calendar_id }}"
            },
            {
              "id": "start_time",
              "name": "start_time",
              "type": "string",
              "value": "={{ $json.start_time || $json.timeMin }}"
            },
            {
              "id": "end_time",
              "name": "end_time",
              "type": "string",
              "value": "={{ $json.end_time || $json.timeMax }}"
            },
            {
              "id": "duration_minutes",
              "name": "duration_minutes",
              "type": "number",
              "value": "={{ $json.duration_minutes || 30 }}"
            }
          ]
        }
      },
      "id": "extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "position": [460, 300],
      "typeVersion": 3.4,
      "notes": "Extracts tenant_id (required for OAuth), calendar_id, start_time, end_time, duration_minutes"
    },
    {
      "parameters": {
        "jsCode": "// Build FreeBusy request for Google Calendar Client\nconst p = $input.first().json;\nreturn {\n  tenant_id: p.tenant_id,\n  method: 'POST',\n  google_api_endpoint: 'calendar/v3/freeBusy',\n  body: {\n    timeMin: p.start_time,\n    timeMax: p.end_time,\n    items: [{ id: p.calendar_id }]\n  },\n  _calendar_id: p.calendar_id,\n  _start_time: p.start_time,\n  _end_time: p.end_time,\n  _duration_minutes: p.duration_minutes\n};"
      },
      "id": "build-freebusy-request",
      "name": "Build FreeBusy Request",
      "type": "n8n-nodes-base.code",
      "position": [680, 300],
      "typeVersion": 2,
      "notes": "Constructs FreeBusy API payload for Google Calendar Client"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "{{ 'Google Calendar Client' }}",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "method": "={{ $json.method }}",
            "google_api_endpoint": "={{ $json.google_api_endpoint }}",
            "body": "={{ $json.body }}"
          }
        },
        "options": {}
      },
      "id": "call-google-calendar-client",
      "name": "Call Google Calendar Client",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [900, 300],
      "typeVersion": 1.2,
      "notes": "Uses HTTP + OAuth from DB instead of native Google Calendar node"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "no-error",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "success"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check-client-response",
      "name": "Check Client Response",
      "type": "n8n-nodes-base.switch",
      "position": [1120, 300],
      "typeVersion": 3.2,
      "notes": "Detects errors from Google Calendar Client (no credentials, token refresh failed)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": false
            },
            {
              "id": "error",
              "name": "error",
              "type": "string",
              "value": "={{ $json.error || 'Google Calendar API call failed' }}"
            },
            {
              "id": "available_slots",
              "name": "available_slots",
              "type": "array",
              "value": []
            },
            {
              "id": "available_count",
              "name": "available_count",
              "type": "number",
              "value": 0
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "Não foi possível verificar a disponibilidade. Erro: {{ $json.error }}"
            }
          ]
        }
      },
      "id": "error-response",
      "name": "Return Client Error",
      "type": "n8n-nodes-base.set",
      "position": [1340, 420],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Process FreeBusy response and return available slots\n// FreeBusy API returns: { calendars: { [id]: { busy: [{ start, end }] } } }\nconst freebusyResponse = $input.first().json;\nconst params = $('Build FreeBusy Request').first().json;\n\nconst calendarId = params._calendar_id;\nconst startTime = new Date(params._start_time);\nconst endTime = new Date(params._end_time);\nconst durationMinutes = parseInt(params._duration_minutes) || 30;\n\n// Handle client error response (success: false)\nif (freebusyResponse.success === false || freebusyResponse.error) {\n  return {\n    success: false,\n    error: freebusyResponse.error || 'API call failed',\n    calendar_id: calendarId,\n    available_slots: [],\n    available_count: 0,\n    message: freebusyResponse.error || 'Erro ao verificar disponibilidade.'\n  };\n}\n\n// Extract busy periods from FreeBusy response\nconst calendarData = freebusyResponse.calendars?.[calendarId] || {};\nconst busyPeriods = (calendarData.busy || []).map(b => ({\n  start: b.start,\n  end: b.end\n}));\n\n// Generate available slots based on procedure duration\nconst slotDuration = durationMinutes * 60 * 1000;\nconst availableSlots = [];\nlet currentTime = new Date(startTime);\n\nconst workStart = new Date(currentTime);\nworkStart.setHours(6, 0, 0, 0);\nconst workEnd = new Date(currentTime);\nworkEnd.setHours(20, 0, 0, 0);\n\nif (currentTime < workStart) {\n  currentTime = new Date(workStart);\n}\n\nwhile (currentTime < endTime && availableSlots.length < 10) {\n  const slotEnd = new Date(currentTime.getTime() + slotDuration);\n  const slotStartHour = currentTime.getHours();\n  const slotEndHour = slotEnd.getHours();\n  \n  if (slotStartHour >= 6 && slotEndHour <= 20 && slotEnd <= endTime) {\n    const isBusy = busyPeriods.some(busy => {\n      const busyStart = new Date(busy.start);\n      const busyEnd = new Date(busy.end);\n      return (currentTime < busyEnd && slotEnd > busyStart);\n    });\n    \n    if (!isBusy) {\n      const dateStr = currentTime.toLocaleDateString('pt-BR', { \n        weekday: 'long', \n        day: '2-digit', \n        month: 'long',\n        year: 'numeric'\n      });\n      \n      availableSlots.push({\n        start: currentTime.toISOString(),\n        end: slotEnd.toISOString(),\n        start_formatted: currentTime.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' }),\n        end_formatted: slotEnd.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' }),\n        date_formatted: dateStr.charAt(0).toUpperCase() + dateStr.slice(1),\n        duration_minutes: durationMinutes\n      });\n    }\n  }\n  \n  currentTime = new Date(currentTime.getTime() + (15 * 60 * 1000));\n  \n  if (currentTime.getHours() >= 20) {\n    currentTime.setDate(currentTime.getDate() + 1);\n    currentTime.setHours(6, 0, 0, 0);\n  }\n}\n\navailableSlots.sort((a, b) => new Date(a.start) - new Date(b.start));\nconst topSlots = availableSlots.slice(0, 10);\n\nreturn {\n  calendar_id: calendarId,\n  start_time: startTime.toISOString(),\n  end_time: endTime.toISOString(),\n  duration_minutes: durationMinutes,\n  available_slots: topSlots,\n  available_count: topSlots.length,\n  total_slots_found: availableSlots.length,\n  busy_periods: busyPeriods.length,\n  success: true,\n  message: topSlots.length > 0 \n    ? `Encontrei ${topSlots.length} horário${topSlots.length > 1 ? 's' : ''} disponível${topSlots.length > 1 ? 'eis' : ''} para procedimento de ${durationMinutes} minutos.`\n    : `Não encontrei horários disponíveis para procedimento de ${durationMinutes} minutos no período consultado.`\n};"
      },
      "id": "process-availability",
      "name": "Process Availability",
      "type": "n8n-nodes-base.code",
      "position": [1340, 240],
      "typeVersion": 2,
      "notes": "Converts FreeBusy response to available slots (same logic as before)"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Build FreeBusy Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build FreeBusy Request": {
      "main": [
        [
          {
            "node": "Call Google Calendar Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Google Calendar Client": {
      "main": [
        [
          {
            "node": "Check Client Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Client Response": {
      "main": [
        [
          {
            "node": "Process Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Client Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "google-calendar-availability-v2-dynamic-oauth",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "tool",
      "id": "1"
    },
    {
      "name": "calendar",
      "id": "4"
    },
    {
      "name": "google-api",
      "id": "6"
    }
  ]
}
