workflows/main/01-whatsapp-patient-handler-optimized.json
{
  "name": "01 - WhatsApp Patient Handler (AI Optimized)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 400],
      "typeVersion": 2,
      "webhookId": "whatsapp-patient-handler-opt"
    },
    {
      "parameters": {
        "workflow": "={{ 'Tenant Config Loader' }}",
        "options": {}
      },
      "id": "load-tenant-config",
      "name": "Load Tenant Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [460, 400],
      "typeVersion": 1.2,
      "notes": "🔑 Loads tenant-specific configuration from database"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message_type",
              "name": "message_type",
              "type": "string",
              "value": "={{ $json.body.data.message.messageType }}"
            },
            {
              "id": "remote_jid",
              "name": "remote_jid",
              "type": "string",
              "value": "={{ $json.body.data.key.remoteJid }}"
            },
            {
              "id": "message_text",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage?.text || '' }}"
            },
            {
              "id": "message_id",
              "name": "message_id",
              "type": "string",
              "value": "={{ $json.body.data.key.id }}"
            },
            {
              "id": "push_name",
              "name": "push_name",
              "type": "string",
              "value": "={{ $json.body.data.pushName }}"
            },
            {
              "id": "image_url",
              "name": "image_url",
              "type": "string",
              "value": "={{ $json.body.data.message.imageMessage?.url || '' }}"
            },
            {
              "id": "audio_url",
              "name": "audio_url",
              "type": "string",
              "value": "={{ $json.body.data.message.audioMessage?.url || '' }}"
            },
            {
              "id": "tenant_config",
              "name": "tenant_config",
              "type": "object",
              "value": "={{ $json.tenant_config }}"
            },
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "type": "string",
              "value": "={{ $json.tenant_id }}"
            }
          ]
        }
      },
      "id": "parse-webhook",
      "name": "Parse Webhook Data",
      "type": "n8n-nodes-base.set",
      "position": [680, 400],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "message-type-switch",
      "name": "Message Type Switch",
      "type": "n8n-nodes-base.switch",
      "position": [900, 400],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "workflow": "={{ 'Audio Transcription Tool' }}",
        "options": {
          "fieldMapping": {
            "mappingMode": "defineBelow",
            "values": {
              "audio_url": "={{ $json.audio_url }}",
              "message_id": "={{ $json.message_id }}",
              "instance_name": "={{ $json.tenant_config.evolution_instance_name }}"
            }
          }
        }
      },
      "id": "audio-transcription",
      "name": "Process Audio",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [1120, 600],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "workflow": "={{ 'Image OCR Tool' }}",
        "options": {
          "fieldMapping": {
            "mappingMode": "defineBelow",
            "values": {
              "image_url": "={{ $json.image_url }}"
            }
          }
        }
      },
      "id": "image-ocr",
      "name": "Process Image",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [1120, 500],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "// ===================================\n// INTENT CLASSIFIER\n// Cost: ~$0 (no AI call)\n// Latency: ~10ms\n// ===================================\n\nconst text = ($json.message_text || $json.transcribed_text || '').toLowerCase();\nconst tenantId = $json.tenant_id;\n\n// Basic pattern matching for common intents\nconst patterns = {\n  greeting: /^(oi|olá|ola|bom dia|boa tarde|boa noite|hey|hello)/,\n  hours: /(horário|horario|hora|abre|fecha|aberto|funciona|atende)/,\n  location: /(endereço|endereco|onde|localização|localizacao|fica|chegar)/,\n  appointment: /(agendar|marcar|consulta|horário disponível|horario disponivel|vaga)/,\n  cancel: /(cancelar|desmarcar|não vou|nao vou)/,\n  reschedule: /(remarcar|mudar|alterar|trocar dia|trocar hora)/,\n  confirmation: /(sim|confirmo|confirmar|ok|tudo bem|pode ser)/,\n  help: /(ajuda|help|socorro|não entendi|nao entendi)/\n};\n\nlet intent = 'complex'; // Default to AI processing\nlet confidence = 0;\n\nfor (const [intentName, pattern] of Object.entries(patterns)) {\n  if (pattern.test(text)) {\n    intent = intentName;\n    confidence = 0.9;\n    break;\n  }\n}\n\n// Extract dates if present (simple regex for pt-BR)\nconst datePatterns = [\n  /\\d{1,2}[\\/\\-]\\d{1,2}(?:[\\/\\-]\\d{2,4})?/, // 10/01 or 10/01/2025\n  /(próxima|proxima|segunda|terça|terca|quarta|quinta|sexta|sábado|sabado|domingo)/,\n  /(amanhã|amanha|hoje|depois de amanhã|depois de amanha)/\n];\n\nlet extractedDate = null;\nfor (const pattern of datePatterns) {\n  const match = text.match(pattern);\n  if (match) {\n    extractedDate = match[0];\n    break;\n  }\n}\n\nreturn {\n  ...$json,\n  intent,\n  confidence,\n  extracted_date: extractedDate,\n  requires_ai: intent === 'complex' || confidence < 0.8\n};"
      },
      "id": "intent-classifier",
      "name": "Intent Classifier",
      "type": "n8n-nodes-base.code",
      "position": [1340, 200],
      "typeVersion": 2,
      "notes": "⚡ Fast intent classification without AI call"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Check FAQ cache first\nSELECT \n  answer,\n  view_count\nFROM tenant_faq\nWHERE tenant_id = '{{ $json.tenant_id }}'\n  AND is_active = true\n  AND (\n    question_normalized ILIKE '%{{ $json.message_text.toLowerCase() }}%'\n    OR keywords @> ARRAY['{{ $json.intent }}']\n  )\nORDER BY view_count DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "check-faq",
      "name": "Check FAQ Cache",
      "type": "n8n-nodes-base.postgres",
      "position": [1340, 300],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CREDENTIAL_ID}}",
          "name": "Postgres account"
        }
      },
      "notes": "💾 Check if we can answer from cache"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.requires_ai }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "leftValue": "={{ $('Check FAQ Cache').item.json.answer }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "needs-ai-check",
      "name": "Needs AI?",
      "type": "n8n-nodes-base.if",
      "position": [1560, 400],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message_text || $json.transcribed_text || $json.extracted_text }}",
        "options": {
          "systemMessage": "={{ $json.tenant_config.system_prompt_patient }}"
        }
      },
      "id": "patient-agent",
      "name": "Patient Assistant Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1780, 300],
      "typeVersion": 1.8,
      "notes": "🤖 Only called when FAQ doesn't have answer"
    },
    {
      "parameters": {
        "options": {
          "model": {
            "__rl": true,
            "value": "={{ $json.tenant_config.llm_model_name || 'gemini-2.0-flash-exp' }}",
            "mode": "list"
          },
          "temperature": "={{ $json.tenant_config.llm_temperature || 0.7 }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1780, 500],
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "{{GOOGLE_GEMINI_CREDENTIAL_ID}}",
          "name": "Google Gemini Shared"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.tenant_id }}_{{ $json.remote_jid }}",
        "contextWindowLength": 5
      },
      "id": "chat-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [1780, 600],
      "typeVersion": 1.3,
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CREDENTIAL_ID}}",
          "name": "Postgres account"
        }
      },
      "notes": "💾 Reduced window: 5 instead of 10"
    },
    {
      "parameters": {
        "sseEndpoint": "={{ $json.tenant_config.mcp_calendar_endpoint }}",
        "options": {}
      },
      "id": "calendar-tool",
      "name": "MCP Calendar Tool",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [1640, 700],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "CallToHuman",
        "description": "Use essa ferramenta para escalar atendimento para humano em casos urgentes ou complexos",
        "workflowId": {
          "__rl": true,
          "value": "{{ 'Call to Human Tool' }}",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "patient_name": "={{ $fromAI('patient_name', '', 'string') }}",
            "phone_number": "={{ $json.remote_jid }}",
            "last_message": "={{ $fromAI('last_message', '', 'string') }}",
            "telegram_chat_id": "={{ $json.tenant_config.telegram_internal_chat_id }}"
          }
        }
      },
      "id": "escalation-tool",
      "name": "Human Escalation Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [1640, 800],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "// ===================================\n// SIMPLE MESSAGE FORMATTER\n// Replaces AI-based formatter\n// Cost: ~$0 (no AI call)\n// Latency: ~5ms vs ~800ms\n// ===================================\n\nconst rawText = $json.output || $json.answer || $json.message_text;\n\nif (!rawText) {\n  return { formatted_text: 'Desculpe, ocorreu um erro. Por favor, tente novamente.' };\n}\n\n// Simple formatting rules for WhatsApp\nlet formatted = rawText\n  // Convert markdown bold ** to WhatsApp bold *\n  .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n  // Remove markdown headers #\n  .replace(/^#{1,6}\\s+/gm, '')\n  // Convert markdown lists\n  .replace(/^[-*]\\s+/gm, '• ')\n  // Clean up excessive newlines\n  .replace(/\\n{3,}/g, '\\n\\n')\n  // Trim whitespace\n  .trim();\n\nreturn {\n  ...$json,\n  formatted_text: formatted\n};"
      },
      "id": "format-message-code",
      "name": "Format Message (Code)",
      "type": "n8n-nodes-base.code",
      "position": [2000, 400],
      "typeVersion": 2,
      "notes": "⚡ Replaced AI formatter with simple code node"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Parse Webhook Data').item.json.tenant_config.evolution_instance_name }}",
        "remoteJid": "={{ $('Parse Webhook Data').item.json.remote_jid }}",
        "messageText": "={{ $json.formatted_text }}",
        "options_message": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [2220, 400],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "{{EVOLUTION_API_CREDENTIAL_ID}}",
          "name": "Evolution API Master"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Update FAQ view count or insert new FAQ\nINSERT INTO tenant_faq (\n  tenant_id,\n  question_original,\n  question_normalized,\n  answer,\n  keywords,\n  view_count\n) VALUES (\n  '{{ $json.tenant_id }}',\n  '{{ $json.message_text }}',\n  '{{ $json.message_text.toLowerCase() }}',\n  '{{ $json.formatted_text }}',\n  ARRAY['{{ $json.intent }}'],\n  1\n)\nON CONFLICT (tenant_id, question_normalized)\nDO UPDATE SET\n  view_count = tenant_faq.view_count + 1,\n  last_used_at = NOW();",
        "options": {}
      },
      "id": "update-faq-cache",
      "name": "Update FAQ Cache",
      "type": "n8n-nodes-base.postgres",
      "position": [2220, 600],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CREDENTIAL_ID}}",
          "name": "Postgres account"
        }
      },
      "notes": "💾 Learn from interactions to improve FAQ"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "formatted_text",
              "name": "formatted_text",
              "type": "string",
              "value": "={{ $json.answer }}"
            }
          ]
        }
      },
      "id": "use-faq-answer",
      "name": "Use FAQ Answer",
      "type": "n8n-nodes-base.set",
      "position": [1780, 500],
      "typeVersion": 3.4,
      "notes": "✅ Skip AI entirely - use cached answer"
    },
    {
      "parameters": {
        "content": "## 🚀 AI OPTIMIZED WORKFLOW\n\n**Cost Reduction**: ~75% fewer AI calls\n**Speed**: 3-5x faster for common queries\n\n**Optimizations**:\n1. ⚡ Intent Classifier (no AI)\n2. 💾 FAQ Cache (Postgres)\n3. 🎯 Conditional AI (only when needed)\n4. 📝 Code-based formatter (no AI)\n5. 🧠 Reduced memory window (5 vs 10)\n6. 📊 Automatic FAQ learning\n\n**Flow**:\n- Simple queries → FAQ cache (0 AI calls)\n- Complex queries → Full AI processing\n- All answers → Cached for future use",
        "height": 400,
        "width": 450,
        "color": 5
      },
      "id": "documentation",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [220, 80],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Load Tenant Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Tenant Config": {
      "main": [
        [
          {
            "node": "Parse Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Data": {
      "main": [
        [
          {
            "node": "Message Type Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type Switch": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Audio": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Check FAQ Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check FAQ Cache": {
      "main": [
        [
          {
            "node": "Needs AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs AI?": {
      "main": [
        [
          {
            "node": "Patient Assistant Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use FAQ Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patient Assistant Agent": {
      "main": [
        [
          {
            "node": "Format Message (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use FAQ Answer": {
      "main": [
        [
          {
            "node": "Format Message (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message (Code)": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update FAQ Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Patient Assistant Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Patient Assistant Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "Patient Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Human Escalation Tool": {
      "ai_tool": [
        [
          {
            "node": "Patient Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "={{ 'Error Handler' }}"
  },
  "versionId": "whatsapp-patient-handler-opt-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-optimized"
  },
  "tags": [
    {
      "name": "main",
      "id": "10"
    },
    {
      "name": "multi-tenant",
      "id": "12"
    },
    {
      "name": "optimized",
      "id": "13"
    },
    {
      "name": "production",
      "id": "11"
    }
  ]
}

