workflows/main/01-whatsapp-optimized-state-machine.json
{
  "name": "01. WhatsApp Handler - State Machine (Optimized)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-optimized",
        "options": {}
      },
      "id": "a961968d-97e0-4735-9ddb-ad5d35836ee1",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1600,
        96
      ],
      "webhookId": "22a27f6b-e061-4199-a634-0c187cc508cb"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-text-message",
              "leftValue": "={{ $json.body.data.messageType }}",
              "rightValue": "conversation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4489767d-75e5-4bb3-9487-e30c86d482aa",
      "name": "Is Text Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1376,
        96
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tenant_config"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "evolution_instance_name",
              "value": "={{ $json.body.instance }}"
            },
            {
              "column": "is_active",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "928266a1-0511-4774-9deb-05750744b6f2",
      "name": "Load Tenant Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1152,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "9Rg0MgrsgZNRKTC0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_or_create_conversation_state('{{ $('Load Tenant Config').item.json.tenant_id }}'::uuid,  '{{ $('WhatsApp Webhook').item.json.body.data.key.remoteJid }}'::varchar);",
        "options": {}
      },
      "id": "0b2c5428-c2b3-4c84-bdee-5e4277ce1fdb",
      "name": "Get Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -928,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "9Rg0MgrsgZNRKTC0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM transition_conversation_state(\n  '{{ $('Load Tenant Config').item.json.tenant_id }}'::uuid,\n  '{{ $('WhatsApp Webhook').item.json.body.data.key.remoteJid }}',\n  '{{ $('WhatsApp Webhook').item.json.body.data.message.conversation }}'\n);",
        "options": {}
      },
      "id": "26f366c3-e740-483a-8754-b6fd337dd904",
      "name": "Transition State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -704,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "9Rg0MgrsgZNRKTC0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "requires-ai",
              "leftValue": "={{ $json.requires_ai }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1865d033-df19-45f3-b4ec-5241a1bc70e1",
      "name": "Requires AI?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        24
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT get_template_response(\n  CAST('{{ $('Load Tenant Config').item.json.tenant_id }}' AS uuid),\n  CAST('{{ $('Transition State').item.json.template_key || \"\" }}' AS varchar(100)),\n  CAST('{{ JSON.stringify({\n    \"patient_name\": $('WhatsApp Webhook').item.json.body.pushName || \"Cliente\",\n    \"clinic_name\": $('Load Tenant Config').item.json.clinic_name\n  }) }}' AS jsonb)\n) as response_text;",
        "options": {}
      },
      "id": "5d8e6c84-7c09-4505-af16-6fc588d53148",
      "name": "Get Template Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -32,
        24
      ],
      "credentials": {
        "postgres": {
          "id": "9Rg0MgrsgZNRKTC0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "needs-data",
              "leftValue": "={{ $('Transition State').item.json.new_state }}",
              "rightValue": "awaiting_service",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "is-invalid-option-template",
              "leftValue": "={{ $('Transition State').item.json.template_key }}",
              "rightValue": "invalid_option",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "eee2ce5d-0674-4483-a673-f1be03cb5f42",
      "name": "Needs Dynamic Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        192,
        24
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-invalid-option",
              "leftValue": "={{ $('Transition State').item.json.template_key }}",
              "rightValue": "invalid_option",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "needs-available-options",
      "name": "Needs Available Options?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        192,
        168
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  valid_inputs,\n  description\nFROM state_definitions\nWHERE state_name = '{{ $('Transition State').item.json.new_state }}';",
        "options": {}
      },
      "id": "get-available-options",
      "name": "Get Available Options",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        416,
        168
      ],
      "credentials": {
        "postgres": {
          "id": "9Rg0MgrsgZNRKTC0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT get_services_catalog_for_prompt('{{ $('Load Tenant Config').item.json.tenant_id }}'::uuid) as service_list;",
        "options": {}
      },
      "id": "1f0a2d7e-a19e-4596-bdc1-97527cdf657a",
      "name": "Get Services List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        416,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "9Rg0MgrsgZNRKTC0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge template with dynamic data\nconst template = $('Get Template Response').item.json.response_text;\nconst newState = $('Transition State').item.json.new_state;\nconst templateKey = $('Transition State').item.json.template_key;\n\nlet finalResponse = template;\n\n// Replace dynamic placeholders based on state\nif (newState === 'awaiting_service' && $('Get Services List').item) {\n  finalResponse = finalResponse.replace(\n    '{{service_list}}',\n    $('Get Services List').item.json.service_list || ''\n  );\n}\n\n// Add professional list if needed\nif (newState === 'awaiting_professional' && $input.item.json.professional_list) {\n  finalResponse = finalResponse.replace(\n    '{{professional_list}}',\n    $input.item.json.professional_list\n  );\n}\n\n// Replace available_options placeholder for invalid_option template\nif (templateKey === 'invalid_option' && finalResponse.includes('{{available_options}}')) {\n  let availableOptions = '';\n  \n  // Map of state actions to human-readable descriptions\n  const actionDescriptions = {\n    'schedule': 'Agendar consulta',\n    'reschedule': 'Reagendar consulta',\n    'cancel': 'Cancelar consulta',\n    'services_info': 'Informações sobre serviços',\n    'hours_location': 'Horário e localização',\n    'select_service': 'Selecionar serviço',\n    'select_professional': 'Selecionar profissional',\n    'select_slot': 'Selecionar horário',\n    'confirmed': 'Confirmar',\n    'cancelled': 'Cancelar',\n    'initial': 'Voltar ao menu principal'\n  };\n  \n  // Try to get options from Get Available Options node\n  if ($('Get Available Options') && $('Get Available Options').item) {\n    let validInputs = $('Get Available Options').item.json.valid_inputs;\n    \n    // Parse JSON if it's a string\n    if (typeof validInputs === 'string') {\n      try {\n        validInputs = JSON.parse(validInputs);\n      } catch (e) {\n        validInputs = null;\n      }\n    }\n    \n    if (validInputs && typeof validInputs === 'object') {\n      // Get the state definition to understand next_states mapping\n      const stateDef = $('Get Available Options').item.json;\n      \n      // Extract numeric keys and sort them\n      const numericKeys = Object.keys(validInputs)\n        .filter(key => !isNaN(parseInt(key)) && key !== 'number' && key !== 'voltar')\n        .map(key => parseInt(key))\n        .sort((a, b) => a - b);\n      \n      if (numericKeys.length > 0) {\n        const emojis = ['1️⃣', '2️⃣', '3️⃣', '4️⃣', '5️⃣', '6️⃣', '7️⃣', '8️⃣', '9️⃣'];\n        numericKeys.forEach((num, index) => {\n          const numKey = num.toString();\n          const action = validInputs[numKey];\n          const description = actionDescriptions[action] || action || `Opção ${num}`;\n          const emoji = emojis[index] || `${index + 1}️⃣`;\n          availableOptions += `${emoji} ${description}\\n`;\n        });\n        availableOptions = availableOptions.trim();\n      } else {\n        // If no numbered options, show text options with descriptions\n        const textKeys = Object.keys(validInputs)\n          .filter(key => key !== 'number' && key !== 'voltar');\n        if (textKeys.length > 0) {\n          textKeys.forEach((key, index) => {\n            const action = validInputs[key];\n            const description = actionDescriptions[action] || action || key;\n            availableOptions += `${index + 1}️⃣ ${description}\\n`;\n          });\n          availableOptions = availableOptions.trim();\n        }\n      }\n    }\n  }\n  \n  // If still no options, provide a generic message based on state\n  if (!availableOptions) {\n    if (newState === 'initial') {\n      availableOptions = '1️⃣ Agendar consulta\\n2️⃣ Reagendar consulta\\n3️⃣ Cancelar consulta\\n4️⃣ Informações sobre serviços\\n5️⃣ Horário e localização';\n    } else {\n      availableOptions = 'Por favor, digite o número da opção desejada.';\n    }\n  }\n  \n  finalResponse = finalResponse.replace('{{available_options}}', availableOptions);\n}\n\nreturn {\n  response: finalResponse,\n  state: newState,\n  remoteJid: $('WhatsApp Webhook').item.json.body.data.key.remoteJid,\n  tenantId: $('Load Tenant Config').item.json.tenant_id\n};"
      },
      "id": "786c38e7-4ee9-46a0-accc-23f344a6c201",
      "name": "Merge Template + Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        24
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response",
              "type": "string",
              "value": "={{ $json.response_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "100e5c4c-fdbd-4194-b23d-8246f5094520",
      "name": "Use Template Directly",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-selection",
              "leftValue": "={{ $('Transition State').item.json.new_state }}",
              "rightValue": "awaiting_professional",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1efe194-ce3b-4c4c-bdaf-2b807bf427d5",
      "name": "Service Selected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -480,
        656
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  service_id AS id,\n  service_name AS name,\n  service_code,\n  service_category,\n  service_number\nFROM get_service_by_number(\n  '{{ $('Load Tenant Config').item.json.tenant_id }}'::uuid,\n  {{ $('WhatsApp Webhook').item.json.body.data.message.conversation }}::integer\n);",
        "options": {}
      },
      "id": "9d18b200-e063-47bf-a749-117a57e7276b",
      "name": "Get Selected Service",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -256,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "9Rg0MgrsgZNRKTC0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT update_conversation_state_data(\n  '{{ $('Load Tenant Config').item.json.tenant_id }}'::uuid,\n  '{{ $('WhatsApp Webhook').item.json.body.data.key.remoteJid }}',\n  '{{ $json.id }}'::uuid,\n  NULL,\n  NULL,\n  '{\"selected_service_name\": \"{{ $json.name }}\"}'\n);",
        "options": {}
      },
      "id": "7c097824-8684-49bd-8f4a-3842a5b32fc7",
      "name": "Save Service Selection",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -32,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "9Rg0MgrsgZNRKTC0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  p.professional_id AS id,\n  p.professional_name AS name,\n  p.specialty,\n  ROW_NUMBER() OVER (ORDER BY p.professional_name) AS number\nFROM professionals p\nJOIN professional_services ps ON ps.professional_id = p.professional_id\nWHERE ps.service_id = '{{ $('Get Selected Service').item.json.id }}'::uuid\n  AND p.is_active = true\n  AND ps.is_active = true;",
        "options": {}
      },
      "id": "e04532ab-1c7d-4c9a-8d2e-35c3e50153f6",
      "name": "Get Professionals for Service",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        192,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "9Rg0MgrsgZNRKTC0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format professionals list\nconst professionals = $input.all();\nlet list = '';\n\nprofessionals.forEach((prof, index) => {\n  list += `${index + 1}️⃣ *${prof.json.name}*\\n   ${prof.json.specialty}\\n\\n`;\n});\n\nreturn {\n  professional_list: list,\n  professionals: professionals.map(p => p.json)\n};"
      },
      "id": "5bed0828-6237-4f6c-8dbf-d23b68ed2279",
      "name": "Format Professionals List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        656
      ]
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        712,
        736
      ],
      "id": "b8dcc439-e9c7-46d6-94fc-8be28f9a1a98",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "QfRFeOCfFzxb41Xh",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Webhook').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "={{ $('Load Tenant Config').item.json.system_prompt_patient }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        512
      ],
      "id": "a3d59670-7276-42d7-9ab9-1b11f9d2b28c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Normalize message text from different input sources\n// Handles outputs from: Merge Template + Data, Use Template Directly, AI Agent\nconst rawText = $json.response || $json.response_text || $json.output || $json.text || $json.formatted_text || '';\n\n// Validate and convert to string\nlet messageText = '';\nif (rawText) {\n  if (typeof rawText === 'string') {\n    messageText = rawText.trim();\n  } else if (typeof rawText === 'object' && rawText !== null) {\n    // If it's an object, try to stringify it\n    messageText = JSON.stringify(rawText);\n  } else {\n    messageText = String(rawText);\n  }\n}\n\n// Ensure we always have a valid message\nif (!messageText || messageText === '') {\n  messageText = 'Desculpe, ocorreu um erro. Por favor, tente novamente.';\n}\n\n// Preserve all original fields and add normalized message_text\nreturn {\n  ...$json,\n  message_text: messageText\n};"
      },
      "id": "normalize-message-text",
      "name": "Normalize Message Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        256
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Load Tenant Config').item.json.evolution_instance_name }}",
        "remoteJid": "={{ $('WhatsApp Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.message_text }}",
        "options_message": {}
      },
      "id": "a610ecc4-34fe-4201-8974-28bdecf94a81",
      "name": "Send WhatsApp Response1",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [
        1184,
        256
      ],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "xQSYKSSdn2xKsrdJ",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Is Text Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Text Message?": {
      "main": [
        [
          {
            "node": "Load Tenant Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Tenant Config": {
      "main": [
        [
          {
            "node": "Get Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation State": {
      "main": [
        [
          {
            "node": "Transition State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transition State": {
      "main": [
        [
          {
            "node": "Requires AI?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Service Selected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requires AI?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Template Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Template Response": {
      "main": [
        [
          {
            "node": "Needs Available Options?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Available Options?": {
      "main": [
        [
          {
            "node": "Get Available Options",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Dynamic Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Available Options": {
      "main": [
        [
          {
            "node": "Needs Dynamic Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Dynamic Data?": {
      "main": [
        [
          {
            "node": "Get Services List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Template Directly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Services List": {
      "main": [
        [
          {
            "node": "Merge Template + Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Template + Data": {
      "main": [
        [
          {
            "node": "Normalize Message Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Template Directly": {
      "main": [
        [
          {
            "node": "Normalize Message Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Selected?": {
      "main": [
        [
          {
            "node": "Get Selected Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Selected Service": {
      "main": [
        [
          {
            "node": "Save Service Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Service Selection": {
      "main": [
        [
          {
            "node": "Get Professionals for Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Professionals for Service": {
      "main": [
        [
          {
            "node": "Format Professionals List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Professionals List": {
      "main": [
        [
          {
            "node": "Merge Template + Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Normalize Message Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Message Text": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "afc83f93-4713-42e8-abb5-836ce259a6fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc055219b8ddb8cb6a3ed41fcda359f13436b13a927934d06acc0a1be80d63bb"
  },
  "id": "9Z5hnCQFYJJyLmdQ",
  "tags": [
    {
      "updatedAt": "2026-01-09T22:13:51.036Z",
      "createdAt": "2026-01-09T22:13:51.036Z",
      "id": "egXnX2gjJK2KVVbN",
      "name": "optimized"
    },
    {
      "name": "state-machine",
      "id": "7Tm4ccfmnwRrRbD0",
      "updatedAt": "2026-01-26T00:50:58.242Z",
      "createdAt": "2026-01-26T00:50:58.242Z"
    }
  ]
}