workflows/main/03-appointment-confirmation-scheduler.json
{
  "name": "03 - Appointment Confirmation Scheduler",
  "nodes": [
    {
      "parameters": {
        "content": "## 📋 03 - Appointment Confirmation Scheduler\n\n**Versão**: 4.0 - Refatorado para usar tabela appointments (sem Google Calendar nativo)\n\n### 🎯 Funcionalidades Principais\n- ✅ Envia lembretes de confirmação para agendamentos do dia seguinte\n- ✅ Usa stored function get_appointments_for_reminders() do banco\n- ✅ Multi-tenant: processa todos os tenants automaticamente\n- ✅ Marca lembretes como enviados (evita duplicatas)\n- ✅ Rate limiting entre envios\n\n### ⏰ Agendamento\n- **Horário**: 8h da manhã (segunda a sexta)\n- **Período**: Agendamentos nas próximas 24h\n\n### 🔄 Fluxo de Processamento\n1. **Trigger**: Executa diariamente às 8h (seg-sex)\n2. **Fetch**: Busca appointments pendentes de lembrete via DB\n3. **Enrich**: Carrega evolution_instance_name do tenant\n4. **Filter**: Verifica se tem contato do paciente\n5. **Send**: Envia mensagem via WhatsApp Send Tool\n6. **Mark**: Marca lembrete como enviado no banco\n\n### ⚠️ Sem Google Calendar Nativo\nUsa tabela `appointments` + função `get_appointments_for_reminders('24h')`\nNÃO usa `n8n-nodes-base.googleCalendar`",
        "height": 700,
        "width": 500,
        "color": 5
      },
      "id": "documentation-sticky",
      "name": "Sticky Note - Documentação Principal",
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 0],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Trigger (8 AM Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 400],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_appointments_for_reminders('24h');",
        "options": {}
      },
      "id": "fetch-appointments",
      "name": "Fetch Appointments for Reminders",
      "type": "n8n-nodes-base.postgres",
      "position": [460, 400],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CREDENTIAL_ID}}",
          "name": "Postgres account"
        }
      },
      "notes": "📅 Busca agendamentos que precisam de lembrete 24h\n\nUsa stored function get_appointments_for_reminders('24h')\nRetorna: appointment_id, tenant_id, patient_contact, patient_name,\nstart_at, service_name, professional_name, clinic_name, clinic_phone\n\nFiltra automaticamente appointments já notificados (reminder_24h_sent_at IS NULL)"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-appointments",
      "name": "Loop Over Appointments",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [680, 400],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT evolution_instance_name, clinic_address, timezone\nFROM tenant_config\nWHERE tenant_id = $1::uuid AND is_active = true\nLIMIT 1;",
        "options": {
          "queryParameters": "={{ [$json.tenant_id] }}"
        }
      },
      "id": "enrich-tenant",
      "name": "Enrich with Tenant Config",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 400],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CREDENTIAL_ID}}",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge appointment data with tenant config\nconst tenant = $input.first().json;\nconst appointment = $('Loop Over Appointments').first().json;\n\nreturn {\n  ...appointment,\n  evolution_instance_name: tenant.evolution_instance_name,\n  clinic_address: tenant.clinic_address,\n  timezone: tenant.timezone\n};"
      },
      "id": "merge-data",
      "name": "Merge Appointment + Tenant",
      "type": "n8n-nodes-base.code",
      "position": [1120, 400],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.patient_contact }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "has-phone",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "position": [1340, 400],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "// Format appointment time for display\nconst d = $input.first().json;\nconst startAt = new Date(d.start_at);\nconst timeStr = startAt.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' });\nconst dateStr = startAt.toLocaleDateString('pt-BR', { weekday: 'long', day: '2-digit', month: 'long' });\n\nreturn {\n  ...d,\n  confirmation_message: `Olá, *${d.patient_name}*! 👋\\n\\nEste é um lembrete da *${d.clinic_name}*.\\n\\nVocê tem uma consulta agendada para:\\n📅 *${dateStr.charAt(0).toUpperCase() + dateStr.slice(1)}* às *${timeStr}*\\n👨‍⚕️ *${d.professional_name}*\\n${d.service_name ? `💊 *${d.service_name}*\\n` : ''}📍 ${d.clinic_address || 'Consulte endereço da clínica'}\\n\\nPor favor, responda:\\n✅ *CONFIRMAR* - Para confirmar presença\\n📅 *REAGENDAR* - Se precisar mudar o horário\\n❌ *CANCELAR* - Para cancelar\\n\\nAguardamos seu retorno! 🙂`,\n  remote_jid: d.patient_contact.includes('@') ? d.patient_contact : d.patient_contact + '@s.whatsapp.net'\n};"
      },
      "id": "prepare-confirmation",
      "name": "Prepare Confirmation Message",
      "type": "n8n-nodes-base.code",
      "position": [1560, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "position": [1780, 300],
      "typeVersion": 1.1,
      "webhookId": "confirmation-wait"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ 'Messaging Send Tool' }}",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Merge Appointment + Tenant').item.json.tenant_id }}",
            "instance_name": "={{ $json.evolution_instance_name }}",
            "remote_jid": "={{ $json.remote_jid }}",
            "message_text": "={{ $json.confirmation_message }}"
          }
        },
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [2000, 300],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT mark_reminder_sent($1::uuid, '24h');",
        "options": {
          "queryParameters": "={{ [$('Merge Appointment + Tenant').item.json.appointment_id] }}"
        }
      },
      "id": "mark-sent",
      "name": "Mark Reminder Sent",
      "type": "n8n-nodes-base.postgres",
      "position": [2220, 300],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CREDENTIAL_ID}}",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log_entry",
              "name": "log_entry",
              "type": "string",
              "value": "=Skipped appointment {{ $json.appointment_id }} - No phone number"
            },
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "=false"
            },
            {
              "id": "reason",
              "name": "reason",
              "type": "string",
              "value": "no_phone"
            }
          ]
        }
      },
      "id": "log-skip",
      "name": "Log Skip",
      "type": "n8n-nodes-base.set",
      "position": [1560, 500],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger (8 AM Mon-Fri)": {
      "main": [
        [
          {
            "node": "Fetch Appointments for Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Appointments for Reminders": {
      "main": [
        [
          {
            "node": "Loop Over Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Appointments": {
      "main": [
        [
          {
            "node": "Enrich with Tenant Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Tenant Config": {
      "main": [
        [
          {
            "node": "Merge Appointment + Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Appointment + Tenant": {
      "main": [
        [
          {
            "node": "Has Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone?": {
      "main": [
        [
          {
            "node": "Prepare Confirmation Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Confirmation Message": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation": {
      "main": [
        [
          {
            "node": "Mark Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Reminder Sent": {
      "main": [
        [
          {
            "node": "Loop Over Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skip": {
      "main": [
        [
          {
            "node": "Loop Over Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "{{ERROR_HANDLER_WORKFLOW_ID}}"
  },
  "versionId": "main-confirmation-scheduler-v4-db-based",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "main",
      "id": "10"
    },
    {
      "name": "production",
      "id": "11"
    },
    {
      "name": "scheduled",
      "id": "12"
    }
  ]
}
