workflows/main/04-error-handler.json
{
  "name": "04 - Error Handler",
  "nodes": [
    {
      "parameters": {
        "content": "## 📋 04 - Error Handler\n\n**Versão**: 3.0 - Refatorado com base no Material Secretária v3\n\n### 🎯 Funcionalidades Principais\n- ✅ Captura erros de todos os workflows\n- ✅ Log estruturado de erros\n- ✅ Notificação via Telegram em caso de falhas críticas\n- ✅ Detecção específica de erros de rate limit (429)\n- ✅ Fallback para pacientes em caso de erro no workflow principal\n\n### 🔍 Tipos de Erros Tratados\n1. **Erros Gerais**: Qualquer erro em qualquer workflow\n2. **Rate Limit (429)**: Quota excedida do Google Gemini API\n3. **Erros no Workflow de Pacientes**: Fallback automático para paciente\n\n### 📊 Fluxo de Processamento\n1. **Captura**: Error Trigger captura erro automaticamente\n2. **Parse**: Extrai informações do erro (workflow, node, mensagem)\n3. **Classificação**: Identifica tipo de erro (rate limit, geral)\n4. **Notificação**: Envia alerta via Telegram\n5. **Fallback**: Se erro no workflow de pacientes, envia mensagem de fallback\n\n### 🚨 Alertas Especiais\n- **Rate Limit**: Alerta crítico com instruções específicas\n- **Workflow de Pacientes**: Envia mensagem de fallback ao paciente\n- **Outros Erros**: Alerta padrão com link para execução\n\n### ⚠️ Configuração\n- **Telegram Chat ID**: `$env.TELEGRAM_INTERNAL_CHAT_ID`\n- **N8N Webhook URL**: `$env.N8N_WEBHOOK_URL`\n- **Clinic Phone**: `$env.CLINIC_PHONE` (para fallback)",
        "height": 700,
        "width": 500,
        "color": 5
      },
      "id": "documentation-sticky",
      "name": "Sticky Note - Documentação Principal",
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 0],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [240, 400],
      "typeVersion": 1,
      "notes": "🚨 Trigger que captura erros automaticamente de todos os workflows\n\n**Ativação**: Automática quando qualquer workflow falha\n**Dados Recebidos**:\n- `workflow` - Informações do workflow que falhou\n- `execution` - Informações da execução\n- `error` - Detalhes do erro (mensagem, node, stack)\n\n**Uso**: Configurado como `errorWorkflow` nos settings dos workflows"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow_name",
              "name": "workflow_name",
              "type": "string",
              "value": "={{ $json.workflow.name }}"
            },
            {
              "id": "workflow_id",
              "name": "workflow_id",
              "type": "string",
              "value": "={{ $json.workflow.id }}"
            },
            {
              "id": "execution_id",
              "name": "execution_id",
              "type": "string",
              "value": "={{ $json.execution.id }}"
            },
            {
              "id": "error_message",
              "name": "error_message",
              "type": "string",
              "value": "={{ $json.error.message }}"
            },
            {
              "id": "error_node",
              "name": "error_node",
              "type": "string",
              "value": "={{ $json.error.node?.name || 'Unknown' }}"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now }}"
            },
            {
              "id": "error_stack",
              "name": "error_stack",
              "type": "string",
              "value": "={{ $json.error.stack || 'No stack trace' }}"
            }
          ]
        }
      },
      "id": "parse-error",
      "name": "Parse Error Data",
      "type": "n8n-nodes-base.set",
      "position": [460, 400],
      "typeVersion": 3.4,
      "notes": "📝 Extrai e estrutura informações do erro\n\n**Campos Extraídos**:\n- `workflow_name` - Nome do workflow que falhou\n- `workflow_id` - ID do workflow\n- `execution_id` - ID da execução\n- `error_message` - Mensagem de erro\n- `error_node` - Nome do node que falhou\n- `error_stack` - Stack trace completo\n- `timestamp` - Timestamp do erro\n\n**Uso**: Dados estruturados para logs e notificações"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alert_message",
              "name": "alert_message",
              "type": "string",
              "value": "=🚨 *WORKFLOW ERROR ALERT*\n\n*Workflow:* {{ $json.workflow_name }}\n*Execution ID:* `{{ $json.execution_id }}`\n*Failed Node:* {{ $json.error_node }}\n*Time:* {{ $json.timestamp }}\n\n*Error Message:*\n```\n{{ $json.error_message }}\n```\n\n*Action Required:*\nPlease check the n8n interface for details and fix the issue.\n\n*Direct Link:*\n{{ $env.N8N_WEBHOOK_URL }}executions/{{ $json.execution_id }}"
            }
          ]
        }
      },
      "id": "format-alert",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.set",
      "position": [680, 400],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_INTERNAL_CHAT_ID }}",
        "text": "={{ $json.alert_message }}",
        "additionalFields": {
          "parseMode": "Markdown",
          "disableNotification": false
        }
      },
      "id": "send-telegram-alert",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "position": [900, 400],
      "typeVersion": 1.2,
      "notes": "📱 Envia alerta de erro via Telegram\n\n**Destinatário**: `$env.TELEGRAM_INTERNAL_CHAT_ID`\n**Formato**: Markdown\n**Conteúdo**:\n- Nome do workflow\n- ID da execução\n- Node que falhou\n- Mensagem de erro\n- Link direto para execução\n\n**Uso**: Notificação imediata para equipe técnica",
      "credentials": {
        "telegramApi": {
          "id": "{{TELEGRAM_BOT_CREDENTIAL_ID}}",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.error_message }}",
              "rightValue": "429",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "leftValue": "={{ $json.error_message }}",
              "rightValue": "quota exceeded",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "leftValue": "={{ $json.error_message }}",
              "rightValue": "too many requests",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      },
      "id": "is-rate-limit-error",
      "name": "Is Rate Limit Error?",
      "type": "n8n-nodes-base.if",
      "position": [680, 600],
      "typeVersion": 2.1,
      "notes": "🔍 Detecta erros 429 (quota exceeded) do Google Gemini API\n\n**Padrões Detectados**:\n- \"429\" na mensagem de erro\n- \"quota exceeded\" na mensagem\n- \"too many requests\" na mensagem\n\n**Ação**: Se detectado, envia alerta crítico com instruções específicas\n\n**Importante**: Erros de rate limit NÃO devem retry automaticamente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rate_limit_alert",
              "name": "rate_limit_alert",
              "type": "string",
              "value": "=🚨 *RATE LIMIT EXCEEDED*\n\n*Workflow:* {{ $json.workflow_name }}\n*Time:* {{ $json.timestamp }}\n\n⚠️ *CRITICAL: Google Gemini API quota exceeded!*\n\nThe service has reached the daily quota limit (20 requests/day on free tier).\n\n*Error Details:*\n```\n{{ $json.error_message }}\n```\n\n*Immediate Actions Required:*\n1. Wait ~1 hour for quota reset\n2. Consider upgrading to paid tier\n3. Check quota usage: https://console.cloud.google.com/apis/api/generativelanguage.googleapis.com/quotas\n4. Check if retries are disabled on Gemini nodes\n\n*This error should NOT retry automatically - retries are disabled to prevent quota exhaustion.*"
            }
          ]
        }
      },
      "id": "format-rate-limit-alert",
      "name": "Format Rate Limit Alert",
      "type": "n8n-nodes-base.set",
      "position": [900, 500],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.workflow_name }}",
              "rightValue": "WhatsApp Patient Handler",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      },
      "id": "is-patient-workflow",
      "name": "Is Patient Workflow?",
      "type": "n8n-nodes-base.if",
      "position": [1120, 600],
      "typeVersion": 2.1,
      "notes": "🔍 Verifica se o erro ocorreu no workflow de pacientes\n\n**Detecção**: Verifica se `workflow_name` contém \"WhatsApp Patient Handler\"\n\n**Ação**: Se sim, envia mensagem de fallback ao paciente via WhatsApp\n\n**Motivo**: Garantir que pacientes sempre recebam uma resposta, mesmo em caso de erro"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fallback_message",
              "name": "fallback_message",
              "type": "string",
              "value": "=Desculpe, estamos com uma dificuldade técnica temporária. Por favor, tente novamente em alguns minutos ou entre em contato pelo telefone {{ $env.CLINIC_PHONE }}. Pedimos desculpas pelo inconveniente! 🙏"
            }
          ]
        }
      },
      "id": "prepare-fallback",
      "name": "Prepare Fallback Message",
      "type": "n8n-nodes-base.set",
      "position": [1120, 500],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $env.EVOLUTION_INSTANCE_NAME }}",
        "remoteJid": "={{ $('Error Trigger').item.json.execution?.data?.resultData?.runData?.['Parse Webhook Data']?.[0]?.data?.main?.[0]?.[0]?.json?.remote_jid || '' }}",
        "messageText": "={{ $json.fallback_message }}",
        "options_message": {}
      },
      "id": "send-fallback",
      "name": "Send Fallback to Patient",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [1340, 500],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "{{EVOLUTION_API_CREDENTIAL_ID}}",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_logged",
              "name": "error_logged",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "alert_sent",
              "name": "alert_sent",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "final-log",
      "name": "Final Log",
      "type": "n8n-nodes-base.set",
      "position": [1120, 400],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Parse Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Error Data": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Rate Limit Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Rate Limit Error?": {
      "main": [
        [
          {
            "node": "Format Rate Limit Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Patient Workflow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Rate Limit Alert": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Final Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Patient Workflow?": {
      "main": [
        [
          {
            "node": "Prepare Fallback Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fallback Message": {
      "main": [
        [
          {
            "node": "Send Fallback to Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Fallback to Patient": {
      "main": [
        [
          {
            "node": "Final Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "error-handler-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "system",
      "id": "20"
    },
    {
      "name": "error-handling",
      "id": "21"
    }
  ]
}








