workflows/main/04-error-handler.json
{
  "name": "04 - Error Handler",
  "nodes": [
    {
      "parameters": {
        "content": "## 📋 04 - Error Handler (Multi-Tenant)\n\n**Versão**: 4.0 - Multi-tenant com resolução dinâmica de tenant\n\n### 🎯 Funcionalidades Principais\n- ✅ Captura erros de todos os workflows\n- ✅ Resolução dinâmica do tenant_id a partir dos dados de execução\n- ✅ Notificação via Telegram usando sub-workflow (sem credencial hardcoded)\n- ✅ Detecção específica de erros de rate limit (429)\n- ✅ Fallback para pacientes em caso de erro no workflow principal\n- ✅ Fallback para $env.FALLBACK_TELEGRAM_CHAT_ID quando tenant não identificado\n\n### 📊 Fluxo de Processamento\n1. **Captura**: Error Trigger captura erro automaticamente\n2. **Extração**: Code node busca tenant_id nos dados de execução do workflow falho\n3. **Config**: Query tenant_config para obter dados do tenant\n4. **Classificação**: Identifica tipo de erro (rate limit, geral)\n5. **Notificação**: Envia alerta via Telegram Client sub-workflow\n6. **Fallback**: Se erro no workflow de pacientes, envia mensagem via WhatsApp\n\n### ⚠️ Configuração\n- **$env.N8N_WEBHOOK_URL**: URL base do n8n (infraestrutura)\n- **$env.FALLBACK_TELEGRAM_CHAT_ID**: Chat ID para alertas quando tenant não identificado",
        "height": 700,
        "width": 500,
        "color": 5
      },
      "id": "documentation-sticky",
      "name": "Sticky Note - Documentação Principal",
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 0],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [240, 400],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Extract tenant_id from the failed workflow's execution data\nconst executionData = $input.first().json.execution?.data?.resultData?.runData || {};\n\nlet tenant_id = null;\nlet remote_jid = null;\nlet instance_name = null;\n\n// Search known node outputs for tenant_id\nconst searchPaths = [\n  'Load Tenant Config',\n  'Parse Webhook Data',\n  'Merge Tenant Config',\n  'Lookup Tenant by Chat ID',\n  'Load All Active Professionals',\n  'Query Tenant Config',\n  'Enrich with Tenant Config'\n];\n\nfor (const nodeName of searchPaths) {\n  if (tenant_id) break;\n  const nodeData = executionData[nodeName];\n  if (!nodeData?.[0]?.data?.main?.[0]) continue;\n  \n  for (const item of nodeData[0].data.main[0]) {\n    const json = item.json || {};\n    // Direct tenant_id field\n    if (json.tenant_id) { tenant_id = json.tenant_id; break; }\n    // Nested in tenant_config object\n    if (json.tenant_config?.tenant_id) { tenant_id = json.tenant_config.tenant_id; break; }\n  }\n}\n\n// Extract remote_jid for patient fallback\nconst parseNode = executionData['Parse Webhook Data'];\nif (parseNode?.[0]?.data?.main?.[0]?.[0]?.json) {\n  const parsed = parseNode[0].data.main[0][0].json;\n  remote_jid = parsed.remote_jid || null;\n  instance_name = parsed.instance_name || null;\n}\n\nreturn {\n  tenant_id,\n  remote_jid,\n  instance_name,\n  workflow: $input.first().json.workflow,\n  execution: {\n    id: $input.first().json.execution?.id,\n    url: $input.first().json.execution?.url\n  },\n  error: $input.first().json.error\n};"
      },
      "id": "extract-tenant-id",
      "name": "Extract Tenant ID",
      "type": "n8n-nodes-base.code",
      "position": [460, 400],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tenant_id, clinic_name, clinic_phone,\n       telegram_internal_chat_id, evolution_instance_name\nFROM tenant_config\nWHERE tenant_id = $1::uuid AND is_active = true\nLIMIT 1;",
        "options": {
          "queryParameters": "={{ [$json.tenant_id] }}"
        }
      },
      "id": "query-tenant-config",
      "name": "Query Tenant Config",
      "type": "n8n-nodes-base.postgres",
      "position": [680, 400],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CREDENTIAL_ID}}",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-tenant",
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        }
      },
      "id": "check-tenant-found",
      "name": "Check Tenant Found",
      "type": "n8n-nodes-base.if",
      "position": [900, 400],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "// Merge tenant config with extracted data\nconst tenantConfig = $input.first().json;\nconst extracted = $('Extract Tenant ID').first().json;\n\nreturn {\n  // Tenant data\n  tenant_id: tenantConfig.tenant_id,\n  clinic_name: tenantConfig.clinic_name,\n  clinic_phone: tenantConfig.clinic_phone,\n  telegram_chat_id: tenantConfig.telegram_internal_chat_id,\n  evolution_instance_name: tenantConfig.evolution_instance_name || extracted.instance_name,\n  // Error data\n  workflow_name: extracted.workflow?.name || 'Unknown',\n  workflow_id: extracted.workflow?.id || 'Unknown',\n  execution_id: extracted.execution?.id || 'Unknown',\n  error_message: extracted.error?.message || 'Unknown error',\n  error_node: extracted.error?.node?.name || 'Unknown',\n  error_stack: extracted.error?.stack || 'No stack trace',\n  timestamp: new Date().toISOString(),\n  // Patient fallback data\n  remote_jid: extracted.remote_jid,\n  instance_name: tenantConfig.evolution_instance_name || extracted.instance_name\n};"
      },
      "id": "parse-error-tenant",
      "name": "Parse Error Data",
      "type": "n8n-nodes-base.code",
      "position": [1120, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alert_message",
              "name": "alert_message",
              "type": "string",
              "value": "=🚨 *WORKFLOW ERROR ALERT*\n\n*Clinic:* {{ $json.clinic_name }}\n*Workflow:* {{ $json.workflow_name }}\n*Execution ID:* `{{ $json.execution_id }}`\n*Failed Node:* {{ $json.error_node }}\n*Time:* {{ $json.timestamp }}\n\n*Error Message:*\n```\n{{ $json.error_message }}\n```\n\n*Action Required:*\nPlease check the n8n interface for details and fix the issue.\n\n*Direct Link:*\n{{ $env.N8N_WEBHOOK_URL }}executions/{{ $json.execution_id }}"
            }
          ]
        }
      },
      "id": "format-alert",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.set",
      "position": [1340, 200],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ 'Telegram Client' }}",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Parse Error Data').item.json.tenant_id }}",
            "chat_id": "={{ $('Parse Error Data').item.json.telegram_chat_id }}",
            "text": "={{ $json.alert_message }}",
            "parse_mode": "Markdown"
          }
        },
        "options": {}
      },
      "id": "send-telegram-alert",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [1560, 200],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.error_message }}",
              "rightValue": "429",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "leftValue": "={{ $json.error_message }}",
              "rightValue": "quota exceeded",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "leftValue": "={{ $json.error_message }}",
              "rightValue": "too many requests",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      },
      "id": "is-rate-limit-error",
      "name": "Is Rate Limit Error?",
      "type": "n8n-nodes-base.if",
      "position": [1340, 500],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rate_limit_alert",
              "name": "alert_message",
              "type": "string",
              "value": "=🚨 *RATE LIMIT EXCEEDED*\n\n*Clinic:* {{ $('Parse Error Data').item.json.clinic_name }}\n*Workflow:* {{ $('Parse Error Data').item.json.workflow_name }}\n*Time:* {{ $('Parse Error Data').item.json.timestamp }}\n\n⚠️ *CRITICAL: Google Gemini API quota exceeded!*\n\n*Error Details:*\n```\n{{ $('Parse Error Data').item.json.error_message }}\n```\n\n*Immediate Actions Required:*\n1. Wait ~1 hour for quota reset\n2. Consider upgrading to paid tier\n3. Check quota usage: https://console.cloud.google.com/apis/api/generativelanguage.googleapis.com/quotas\n4. Check if retries are disabled on Gemini nodes\n\n*This error should NOT retry automatically.*"
            }
          ]
        }
      },
      "id": "format-rate-limit-alert",
      "name": "Format Rate Limit Alert",
      "type": "n8n-nodes-base.set",
      "position": [1560, 400],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ 'Telegram Client' }}",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Parse Error Data').item.json.tenant_id }}",
            "chat_id": "={{ $('Parse Error Data').item.json.telegram_chat_id }}",
            "text": "={{ $json.alert_message }}",
            "parse_mode": "Markdown"
          }
        },
        "options": {}
      },
      "id": "send-rate-limit-telegram",
      "name": "Send Rate Limit Alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [1780, 400],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Parse Error Data').item.json.workflow_name }}",
              "rightValue": "WhatsApp",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      },
      "id": "is-patient-workflow",
      "name": "Is Patient Workflow?",
      "type": "n8n-nodes-base.if",
      "position": [1560, 600],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fallback_message",
              "name": "fallback_message",
              "type": "string",
              "value": "=Desculpe, estamos com uma dificuldade técnica temporária. Por favor, tente novamente em alguns minutos ou entre em contato pelo telefone {{ $('Parse Error Data').item.json.clinic_phone }}. Pedimos desculpas pelo inconveniente! 🙏"
            }
          ]
        }
      },
      "id": "prepare-fallback",
      "name": "Prepare Fallback Message",
      "type": "n8n-nodes-base.set",
      "position": [1780, 600],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Parse Error Data').item.json.evolution_instance_name }}",
        "remoteJid": "={{ $('Parse Error Data').item.json.remote_jid }}",
        "messageText": "={{ $json.fallback_message }}",
        "options_message": {}
      },
      "id": "send-fallback",
      "name": "Send Fallback to Patient",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [2000, 600],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "{{EVOLUTION_API_CREDENTIAL_ID}}",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_logged",
              "name": "error_logged",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "alert_sent",
              "name": "alert_sent",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "final-log",
      "name": "Final Log",
      "type": "n8n-nodes-base.set",
      "position": [2000, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Fallback path: tenant not found in execution data\nconst extracted = $('Extract Tenant ID').first().json;\n\nreturn {\n  workflow_name: extracted.workflow?.name || 'Unknown',\n  workflow_id: extracted.workflow?.id || 'Unknown',\n  execution_id: extracted.execution?.id || 'Unknown',\n  error_message: extracted.error?.message || 'Unknown error',\n  error_node: extracted.error?.node?.name || 'Unknown',\n  timestamp: new Date().toISOString(),\n  alert_message: `🚨 *WORKFLOW ERROR (Tenant Unknown)*\\n\\n*Workflow:* ${extracted.workflow?.name || 'Unknown'}\\n*Execution ID:* \\`${extracted.execution?.id || 'Unknown'}\\`\\n*Failed Node:* ${extracted.error?.node?.name || 'Unknown'}\\n*Time:* ${new Date().toISOString()}\\n\\n*Error Message:*\\n\\`\\`\\`\\n${extracted.error?.message || 'Unknown error'}\\n\\`\\`\\`\\n\\n⚠️ *Could not resolve tenant_id from execution data.*\\nPlease check the n8n interface for details.`\n};"
      },
      "id": "format-fallback-alert",
      "name": "Format Fallback Alert",
      "type": "n8n-nodes-base.code",
      "position": [1120, 600],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.FALLBACK_TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.alert_message }}",
        "additionalFields": {
          "parseMode": "Markdown",
          "disableNotification": false
        }
      },
      "id": "send-fallback-telegram",
      "name": "Send Fallback Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [1340, 600],
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "{{TELEGRAM_BOT_CREDENTIAL_ID}}",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Extract Tenant ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tenant ID": {
      "main": [
        [
          {
            "node": "Query Tenant Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Tenant Config": {
      "main": [
        [
          {
            "node": "Check Tenant Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tenant Found": {
      "main": [
        [
          {
            "node": "Parse Error Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Fallback Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Error Data": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Rate Limit Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Final Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Rate Limit Error?": {
      "main": [
        [
          {
            "node": "Format Rate Limit Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Patient Workflow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Rate Limit Alert": {
      "main": [
        [
          {
            "node": "Send Rate Limit Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rate Limit Alert": {
      "main": [
        [
          {
            "node": "Final Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Patient Workflow?": {
      "main": [
        [
          {
            "node": "Prepare Fallback Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fallback Message": {
      "main": [
        [
          {
            "node": "Send Fallback to Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Fallback to Patient": {
      "main": [
        [
          {
            "node": "Final Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Fallback Alert": {
      "main": [
        [
          {
            "node": "Send Fallback Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "error-handler-v4-multitenant",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "system",
      "id": "20"
    },
    {
      "name": "error-handling",
      "id": "21"
    }
  ]
}
