workflows/tools/ai-processing/audio-transcription-tool.json
{
  "name": "Audio Transcription Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-input",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $json.instance_name }}",
        "messageId": "={{ $json.message_id }}",
        "convertToMp4": true
      },
      "id": "download-audio",
      "name": "Download Audio from Evolution API",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [460, 300],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "{{EVOLUTION_API_CREDENTIAL_ID}}",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {}
      },
      "id": "convert-to-binary",
      "name": "Convert to Binary",
      "type": "n8n-nodes-base.convertToFile",
      "position": [680, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "text": "=Please transcribe this audio message accurately in Portuguese (BR). Provide only the transcription, no additional commentary.",
        "audioUrls": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [900, 300],
      "id": "transcribe-audio",
      "name": "Transcribe Audio",
      "retryOnFail": false,
      "notes": "⚠️ Retry desabilitado para evitar consumo de quota em erros 429",
      "credentials": {
        "googlePalmApi": {
          "id": "{{GOOGLE_GEMINI_CREDENTIAL_ID}}",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "transcribed_text",
              "name": "transcribed_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "position": [1120, 300],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Download Audio from Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio from Evolution API": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "tool-audio-transcription-v1",
  "tags": [
    {
      "name": "tool",
      "id": "1"
    },
    {
      "name": "ai-processing",
      "id": "3"
    }
  ]
}








