workflows/tools/ai-processing/image-ocr-tool.json
{
  "name": "Image OCR Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-input",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "text": "=Please analyze this image and:\n1. TRANSCRIBE all visible text (including handwritten text)\n2. DESCRIBE the content and context of the image\n3. Identify if this is a medical document (prescription, exam result, etc.)\n\nProvide your response in Portuguese (BR) in a clear, structured format.",
        "imageUrls": "={{ $json.image_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [460, 300],
      "id": "analyze-image",
      "name": "Analyze Image",
      "retryOnFail": false,
      "notes": "⚠️ Retry desabilitado para evitar consumo de quota em erros 429",
      "credentials": {
        "googlePalmApi": {
          "id": "{{GOOGLE_GEMINI_CREDENTIAL_ID}}",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "transcribed_text",
              "name": "transcribed_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "image_description",
              "name": "image_description",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "position": [680, 300],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "tool-image-ocr-v1",
  "tags": [
    {
      "name": "tool",
      "id": "1"
    },
    {
      "name": "ai-processing",
      "id": "3"
    }
  ]
}








