workflows/sub/tenant-config-loader.json
{
  "name": "Tenant Config Loader",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "instance_name_extract",
              "name": "instance_name",
              "type": "string",
              "value": "={{ $json.body?.instance || $json.instance || $json.instance_name || '' }}"
            },
            {
              "id": "original_body",
              "name": "original_body",
              "type": "object",
              "value": "={{ $json.body || $json }}"
            },
            {
              "id": "original_headers",
              "name": "original_headers",
              "type": "object",
              "value": "={{ $json.headers || {} }}"
            }
          ]
        }
      },
      "id": "extract-instance",
      "name": "Extract Instance Name",
      "type": "n8n-nodes-base.set",
      "position": [460, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tenant_config WHERE evolution_instance_name = '{{ $json.instance_name }}' AND is_active = true LIMIT 1;",
        "options": {}
      },
      "id": "query-tenant-config",
      "name": "Query Tenant Config",
      "type": "n8n-nodes-base.postgres",
      "position": [680, 300],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CREDENTIAL_ID}}",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "tenant-exists",
                    "leftValue": "={{ $json.tenant_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "tenant_found"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check-tenant-exists",
      "name": "Check Tenant Exists",
      "type": "n8n-nodes-base.switch",
      "position": [900, 300],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT get_services_catalog_for_prompt('{{ $json.tenant_id }}') as services_catalog;",
        "options": {}
      },
      "id": "load-services-catalog",
      "name": "Load Services Catalog",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 240],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "{{POSTGRES_CREDENTIAL_ID}}",
          "name": "Postgres account"
        }
      },
      "notes": "📋 Loads services catalog dynamically from database"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "body",
              "name": "body",
              "type": "object",
              "value": "={{ $('Extract Instance Name').item.json.original_body }}"
            },
            {
              "id": "headers",
              "name": "headers",
              "type": "object",
              "value": "={{ $('Extract Instance Name').item.json.original_headers }}"
            },
            {
              "id": "tenant_config",
              "name": "tenant_config",
              "type": "object",
              "value": "={{ $('Query Tenant Config').item.json }}"
            },
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "type": "string",
              "value": "={{ $('Query Tenant Config').item.json.tenant_id }}"
            },
            {
              "id": "services_catalog",
              "name": "services_catalog",
              "type": "string",
              "value": "={{ $('Load Services Catalog').item.json.services_catalog }}"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-config",
      "name": "Merge Config with Original Data",
      "type": "n8n-nodes-base.set",
      "position": [1120, 240],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "body",
              "name": "body",
              "type": "object",
              "value": "={{ $('Extract Instance Name').item.json.original_body }}"
            },
            {
              "id": "headers",
              "name": "headers",
              "type": "object",
              "value": "={{ $('Extract Instance Name').item.json.original_headers }}"
            },
            {
              "id": "tenant_config",
              "name": "tenant_config",
              "type": "object",
              "value": "={{ null }}"
            },
            {
              "id": "tenant_id",
              "name": "tenant_id",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "error",
              "name": "error",
              "type": "string",
              "value": "={{ 'Unknown instance: ' + $('Extract Instance Name').item.json.instance_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "return-error",
      "name": "Return Error Data",
      "type": "n8n-nodes-base.set",
      "position": [1120, 420],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Tenant Config Loader\n\n**Purpose**: Load tenant-specific configuration from database based on Evolution API instance name.\n\n**Usage**: Call this workflow from any main workflow that receives webhook data.\n\n**Input**: Webhook payload containing `body.instance` field\n\n**Output**: \n- `body` - Original webhook body\n- `headers` - Original headers  \n- `tenant_config` - Full tenant configuration from DB\n- `tenant_id` - Tenant UUID\n\n**Error Handling**: Returns null tenant_config if instance not found",
        "height": 320,
        "width": 400
      },
      "id": "documentation",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [220, 40],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Extract Instance Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Instance Name": {
      "main": [
        [
          {
            "node": "Query Tenant Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Tenant Config": {
      "main": [
        [
          {
            "node": "Check Tenant Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tenant Exists": {
      "main": [
        [
          {
            "node": "Load Services Catalog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Services Catalog": {
      "main": [
        [
          {
            "node": "Merge Config with Original Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "tenant-config-loader-v2-fixed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "sub-workflow",
      "id": "20"
    },
    {
      "name": "utility",
      "id": "21"
    }
  ]
}
