workflows/tools/communication/message-formatter-tool.json
{
  "name": "Message Formatter Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-input",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.raw_text }}",
        "options": {
          "systemMessage": "You are a message formatting specialist for WhatsApp. Your ONLY job is to format messages correctly for WhatsApp markdown syntax. DO NOT change the content, only the formatting.\n\nRules:\n- Replace ** with * (for bold)\n- Remove all # symbols (headers not supported in WhatsApp)\n- Keep line breaks as-is\n- Do not add or remove any actual content\n- Do not add emojis unless they were in the original\n- Output ONLY the formatted text, nothing else"
        }
      },
      "id": "format-agent",
      "name": "Format Message Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [460, 300],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [460, 480],
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "{{GOOGLE_GEMINI_CREDENTIAL_ID}}",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "formatted_text",
              "name": "formatted_text",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "position": [680, 300],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Format Message Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message Agent": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Format Message Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "tool-message-formatter-v1",
  "tags": [
    {
      "name": "tool",
      "id": "1"
    },
    {
      "name": "communication",
      "id": "2"
    }
  ]
}








