workflows/tools/communication/telegram-notify-tool.json
{
  "name": "Telegram Notify Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-input",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id || $env.TELEGRAM_INTERNAL_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "position": [460, 300],
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "{{TELEGRAM_BOT_CREDENTIAL_ID}}",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "message_id",
              "name": "message_id",
              "type": "string",
              "value": "={{ $json.message_id }}"
            },
            {
              "id": "notification_type",
              "name": "notification_type",
              "type": "string",
              "value": "={{ $json.notification_type || 'info' }}"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "position": [680, 300],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Notification": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "tool-telegram-notify-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "tool",
      "id": "1"
    },
    {
      "name": "communication",
      "id": "2"
    }
  ]
}








