workflows/tools/communication/whatsapp-send-tool.json
{
  "name": "WhatsApp Send Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-input",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instance_name || $env.EVOLUTION_INSTANCE_NAME }}",
        "remoteJid": "={{ $json.remote_jid }}",
        "messageText": "={{ $json.message_text }}",
        "options_message": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "position": [460, 300],
      "typeVersion": 1,
      "credentials": {
        "evolutionApi": {
          "id": "{{EVOLUTION_API_CREDENTIAL_ID}}",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "message_id",
              "name": "message_id",
              "type": "string",
              "value": "={{ $json.key?.id }}"
            },
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "sent"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "position": [680, 300],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "tool-whatsapp-send-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "tool",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z",
      "id": "1"
    },
    {
      "name": "communication",
      "createdAt": "2026-01-01T00:00:00.000Z",
      "updatedAt": "2026-01-01T00:00:00.000Z",
      "id": "2"
    }
  ]
}








