workflows/tools/escalation/call-to-human-tool.json
{
  "name": "Call to Human Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-input",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [240, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alert_message",
              "name": "alert_message",
              "type": "string",
              "value": "=🚨 *ESCALATION ALERT*\n\n*Patient:* {{ $json.patient_name || 'Unknown' }}\n*Phone:* {{ $json.phone_number }}\n*Reason:* {{ $json.reason }}\n\n*Last Message:*\n{{ $json.last_message }}\n\n*Time:* {{ $now }}\n\n_Please contact the patient as soon as possible._"
            }
          ]
        }
      },
      "id": "prepare-alert",
      "name": "Prepare Alert Message",
      "type": "n8n-nodes-base.set",
      "position": [460, 300],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "{{ 'Telegram Client' }}",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $json.tenant_id }}",
            "chat_id": "={{ $json.telegram_chat_id }}",
            "text": "={{ $json.alert_message }}",
            "parse_mode": "Markdown"
          }
        },
        "options": {}
      },
      "id": "send-alert",
      "name": "Send Alert to Staff",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [680, 300],
      "typeVersion": 1.2,
      "notes": "📱 Envia alerta via Telegram usando token do tenant no banco (sem credencial n8n)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "patient_message",
              "name": "patient_message",
              "type": "string",
              "value": "=Entendo a urgência da sua situação. Vou encaminhar seu caso para um de nossos atendentes, que entrará em contato em breve. Agradecemos pela paciência! 🙏"
            }
          ]
        }
      },
      "id": "prepare-patient-response",
      "name": "Prepare Patient Response",
      "type": "n8n-nodes-base.set",
      "position": [460, 500],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ 'Messaging Send Tool' }}",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Execute Workflow Trigger').item.json.tenant_id }}",
            "instance_name": "={{ $('Execute Workflow Trigger').item.json.instance_name }}",
            "remote_jid": "={{ $json.phone_number }}",
            "message_text": "={{ $json.patient_message }}"
          }
        },
        "options": {}
      },
      "id": "notify-patient",
      "name": "Notify Patient",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [680, 500],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "escalated",
              "name": "escalated",
              "type": "boolean",
              "value": "=true"
            },
            {
              "id": "reason",
              "name": "reason",
              "type": "string",
              "value": "={{ $json.reason }}"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "position": [900, 400],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Alert Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Patient Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Alert Message": {
      "main": [
        [
          {
            "node": "Send Alert to Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert to Staff": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Patient Response": {
      "main": [
        [
          {
            "node": "Notify Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Patient": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "tool-call-to-human-v2-dynamic-oauth",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "clinic-multiagent-system"
  },
  "tags": [
    {
      "name": "tool",
      "id": "1"
    },
    {
      "name": "escalation",
      "id": "5"
    }
  ]
}
